<div class="site_container">
	<!-- signin -->
	<div class="row">
		<div class="signin_partial">
			<%= render 'layouts/signin' %>
		</div>
	</div>

	<div class="header">
		<h4>
			Is there good? 
		</h4>
		<h4>
			Is there evil? 
		</h4>
		<h4>
			Here is where you decide. 
		</h4>	
		<h1 class="landing_title">
			This is Good or <span>Evil?</span> 
		</h1>
		<div class="signup_partial">

			 <%= render 'layouts/signup' %>

		</div>
	</div>

	<div class="info">
		<h3>
			Why Evil or Good?
		</h3>
		<p>
			We are an experimental space that values individual anonymity in an age where every move we make, and phrase we utter, is broadcast to the world. 
		</p>
		<p>
			We believe goodness and evil exist, sometimes difficult to differentiate in the margins, and so our challenge to the anonymous is can you discern the difference in the cacophony of today’s existence? Share your thoughts on the matter: Can you discuss it? Can you handle it? 
		</p>
	</div>


</div>
	