<div class="profile_container">

<br><br><br><br>

<div class="text-center"><h5><%= @user.email %></h5></div>

<div class="text-center"><h3>Good or Evil Voting Averages<h3></div>

<<<<<<< HEAD
<!-- <div class="row"> -->
  <!-- <div class="small-10 small-centered medium-8 large-4 columns"> -->
    <div id="chartContainer_all_votes_all_posts"></div><br>
  <!-- </div> -->
  <!-- <div class="small-10 small-centered medium-8 large-4 columns"> -->
    <div id="chartContainer_your_votes_all_posts"></div><br>
  <!-- </div> -->
  <!-- <div class="small-10 small-centered medium-8 large-4 columns"> -->
    <div id="chartContainer_all_votes_your_posts"></div><br>
  <!-- </div> -->
<!-- </div> -->

=======
<div id="user_chart">
    <div id="all_votes_all_posts_chart"></div><br>

    <div id="your_votes_all_posts_chart"></div><br>

    <div id="all_votes_your_posts_chart"></div><br>
</div>

</div>
>>>>>>> 050052c8856d55e6fd98eba9152b22dfe0f89b94
