<div class="profile_container">

	<br><br><br><br>

	<div class="links_wrap_profile">
      <div class="post_page_link">
        <%= render 'layouts/header' %>
      </div>
      <div class="page_link">
        <%= link_to "Feed", posts_path %>
      </div>
      <div class="signout_link">
        <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %> 
      </div>
    </div>


	<div class="text-center">
		<h5><%= @user.email %></h5>
	</div>

	<div class="text-center">
		<h3>Good or Evil Voting Averages<h3>
	</div>

	<div id="user_chart">
	    <div id="all_votes_all_posts_chart"></div><br>

	    <div id="your_votes_all_posts_chart"></div><br>

	    <div id="all_votes_your_posts_chart"></div><br>
	</div>

</div>
