<div class="profile_container">

<br><br><br><br>

<div class="text-center"><h5><%= @user.email %></h5></div>

<div class="text-center"><h3>Good or Evil Voting Averages<h3></div>

<!-- <div class="row"> -->
  <!-- <div class="small-10 small-centered medium-8 large-4 columns"> -->
    <div id="chartContainer_all_votes_all_posts"></div><br>
  <!-- </div> -->
  <!-- <div class="small-10 small-centered medium-8 large-4 columns"> -->
    <div id="chartContainer_your_votes_all_posts"></div><br>
  <!-- </div> -->
  <!-- <div class="small-10 small-centered medium-8 large-4 columns"> -->
    <div id="chartContainer_all_votes_your_posts"></div><br>
  <!-- </div> -->
<!-- </div> -->
