<section>
  <p>
    <img src="<%=@post.aws_url%>">
  </p>
  <p>
    <strong>Text:</strong>
    <%= @post.text_overlay %>
  </p>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Back', root_path %>
</section>
