<section>
  <p>
    <img src="<%=@post.aws_url%>">
  </p>
  <div style="position:absolute;left:10px;top:100px;font-size: 32px; color: white;">
    <%= @post.text_overlay %>
  </div>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Back', root_path %>
</section>
