<div class="comment" data-id="{{id}}">
  <div>{{body}}</div><br>
  <div class="good_comment">0</div>
  <div class="evil_comment">0</div>
  <button id="good_btn">good</button>
  <button id="evil_btn">evil</button>
</div>
