<div class="comment" data-id="{{id}}">
  <div>{{body}}</div><br>
  Good ratings: <div class="good_comment"></div>
  Evil ratings: <div class="evil_comment"></div>
  <button id="good">good</button>
  <button id="evil">evil</button>
</div>