<div class="good_evil_comment" data-id="{{id}}">
  <div>{{body}}</div>
  <button id="good_btn" class="button small">good</button>
  <div class="good_comment">0</div>
  <div class="evil_comment">0</div>
  <button id="evil_btn" class="button small">evil</button>
</div>
