// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,html{
    height:100%;
    width:100%;
    background-color: rgba(52, 152, 219,1.0);
    background: url('/assets/13.jpg') center center no-repeat;

}


.off-canvas-wrap,.inner-wrap{
    height:100%;   
}

.container {
	margin-top: 5em;
}

.right {
	list-style-type: none;
	color: #333;
	text-align: center;
}