// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,html{
    height:100%;
    width:100%;
    background-color: rgba(236, 240, 241,1.0);
    // background: url('/assets/13.jpg') center center no-repeat;

}

.title a {
	margin-left: 2em;
	color: #999;
}

span#good {
	color: white;
}

span#evil {
	color: black;
}


.container {
	margin-top: 5em;
}


.wrap {
    width: auto;
    height:auto;
    margin: auto;
    position:relative;
}
.post-text {
    position: absolute;
 margin: auto;
 font-size: 64px;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
   height:100px;
 -webkit-text-fill-color: white;
        -webkit-text-stroke: 2px black;
  
}
