/*** These are not needed */
/*	html {
		width:100%;
		height:100%;
		overflow-y:scroll;
	}
*/
	body {
		position:relative;
		width:100%;
		height:100%;
		padding:0;
		margin:0;
		font-family:"Trebuchet MS","Arial", Helvetica, sans-serif;
		font-weight:normal;
		font-style:normal;
		line-height:1;
	}

	div { 
		position:relative; 	
	}

	div.post_container {
		background: url(/images/13.jpg);
	}

	div.profile_container {
		background: url(/images/13.jpg) center no-repeat;
		background-size: cover;
		background-size: 100%;
		width: 100%;
		height: 100%;

	}

	
	/*hr { display:block;float:none;clear:both;margin:1em auto;color:#ccc;border:solid #ccc;border-width:1px 0 0;height:0;padding:0; }*/
	h2 {
		text-rendering: optimizeLegibility;
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-style: normal;
		font-size: 1.6875em;
		color: #222222;
		margin-top: 0.2em;
		margin-bottom: 0.5em;
		line-height: 1.2125em;}	


	
	
/**** IMPORTANT THESE ARE NEEDED ****/	
	#container {
		float: none;
		width: 100%;
		height: 100%;
	  background: rgba(#ffffff, 0.0);
	  padding: 0;
	 
		margin: 0 auto;
	  /* optional */
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  /* content-box is NEEDED. if border-box is enabled
	     then it when Masonry calculates the height and width
		 of the container it counts incorrectly and the result
		 images running to the edge of the container on the right
		 and bottom sides. Only apply content-box to the container. */
	  -webkit-box-sizing:content-box;
	  -moz-box-sizing:content-box;
	  box-sizing:content-box;
	}
	
	.box {
	  margin: 2%;
	  padding-left: 10px;
	  float: left;
	  background-color: rgba(255, 255, 255, .2);
	  /* optional */
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	}

	.box img, { 
		display: block; 
		width: 100%; 
		margin: 0;
	}
	
	/* unfortunately masonry needs hard pxs for images */
	.col1 { width: 80px; }
	.col2 { width: 180px; }
	.col3 { width: 280px; }
	.col4 { width: 450px; }
	.col5 { width: 480px; }
	.col1 img { max-width: 80px; }
	.col2 img { max-width: 180px; }
	.col3 img { max-width: 280px; }
	.col4 img { max-width: 450px; }
	.col5 img { max-width: 480px; }
	
	/* animations for the transition/reordering */
	.transitions-enabled.masonry,
	.transitions-enabled.masonry .masonry-brick {
	  -webkit-transition-duration: 0.7s;
	  -moz-transition-duration: 0.7s;
	  -ms-transition-duration: 0.7s;
	  -o-transition-duration: 0.7s;
	  transition-duration: 0.7s;
	}
	.transitions-enabled.masonry {
	  -webkit-transition-property: height, width;
	  -moz-transition-property: height, width;
	  -ms-transition-property: height, width;
	  -o-transition-property: height, width;
	  transition-property: height, width;
	}
	.transitions-enabled.masonry  .masonry-brick {
	  -webkit-transition-property: left, right, top;
	  -moz-transition-property: left, right, top;
	  -ms-transition-property: left, right, top;
	  -o-transition-property: left, right, top;
	  transition-property: left, right, top;
	}



/**** Clearfix ****/
	.clearfix:before, .clearfix:after { content: ""; display: table; }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }

/* LANDING PAGE */

.site_container {
	width: 100%;
	height: 100%;
	background-size: 100%;
	margin-top: 0;
	background-color: black;
	background: url("/images/newyork.jpg") center center no-repeat;
	background: cover;
	padding: 0;

}

.signin_partial {
	margin-top: 1em;
	width: 100px;
	height: 35px;
	padding: 5px;
/*	margin-right: -10em;*/
	font-size: 1.5em;
	background-color: #333;
	opacity: .8;
	list-style-type: none;
	text-align: center;
}

.signin_partial:hover {
	background-color: #333;
	opacity: .6;
}

.header {
	width: 80%;
	height: 200px;
	margin-top: 5em;
	margin-left: 2em;

}

.header h4 {
	font-size: 2.25;
	color: #ffffff;
}

.landing_title, h1 {
	font-size: 3em;
	color: #ffffff;
	font-family: Arial;
}

.landing_title span {
	color: rgba(192, 57, 43,1.0);
}

div.signup_partial {
	width: 200px;
	height: 60px;
	margin-top: 25px;
	margin-left: 150px;
	padding-top: 15px;
	color: #ffffff;
	font-size: 1.75;
	background: rgba(192, 57, 43, .8);
}

.signup_partial li {
	font-size: 1.5em;
	text-align: center;
	color: #ffffff;
	list-style-type: none;
}

.signup_partial:hover {
	color: #333;
	background: rgba(192, 57, 43, .7);
}


.info {
	width: 100%;
	height: 250px;
	margin-top: 12em;
	padding: 10px;
	background-color: rgba(192, 57, 43, .6);
	text-align: center;
	color: #ffffff;
}

.info p {
	font-size: 1.75;
}
/* CAN'T TOUCH THIS!!! */
	#good_btn {
		float: left;
		z-index: 10;
	}

	#evil_btn {
		float: right;
		z-index: 10;
	}

	#good_btn:hover{
		background-color: #FFF;
		color: #000;
	}

	#evil_btn:hover{
		background-color: #000;
		color: #FFF;
	}

	.good_post {
		float: left;
		z-index: 10;
		margin-left: 10px;
		font-size: 20px;
	}

	.evil_post {
		float: left;
		z-index: 10;
		margin-left: 200px;
		font-size: 20px;
	}

	.good_comment {
		float: left;
		z-index: 10;
		margin-left: 20px;
		font-size: 20px;
	}

	.evil_comment {
		float: left;
		z-index: 10;
		margin-left: 250px;
		font-size: 20px;
	}

	.addCommnet {
		padding-top: 100px;
		margin-top: 100px 0 50px 0;
	}

	#chartContainer_all_votes_all_posts {
		top: 50px;
		z-index: 2;
	}
	
	#chartContainer_your_votes_all_posts {
		top: 500px;
		z-index: 2;
	}

	#chartContainer_all_votes_your_posts {
		top: 950px;
		z-index: 2;
	}

	/* overiding masonary col4 img width*/
	.col4 img {
			max-width: 430px;
		}

	.col4 {
		width: 450px;
		padding: 10px;
		}

	.canvasjs-chart-canvas {
		height: 100px;
		width: 445px;
		/*padding-bottom: 10px;*/
		margin: -50px -10px -10px -10px;
		z-index: 0;
	}

	.good_evil {
			padding: 10px 0;
		}

	.good_evil_comment {
		padding: 5px 0;
	}

	form {
    padding-top: 50px;
    }

  .comment {
   	/*padding: 10px;*/
   	float: left;
   	width: 430px;
   }

   .button {
  border-style: solid;
  /*border-width: 1px;*/
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #7f8c8d;
  border-color: #7f8c8d;
  color: #333333; }

